# Loop

*couter->condition->increament/decreament

*while

*for

*loop controls
    *break
    *pass
    *continue

# Infini Loop

In [29]:
while False:
    print("Pakistan")

In [30]:
counter = 0 #counter
while counter < 11: # logic
    print(counter)
    counter +=1 # increament

0
1
2
3
4
5
6
7
8
9
10

In [38]:
counter = 0
while counter < 15:
    print(counter)
    counter += 10

0
10

In [37]:
c = 100
while c > 20: 
    print(c)
    c -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21

In [47]:
c = 2023
while c > 2000:
    print(c)
    c -= 1

2023
2022
2021
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2005
2004
2003
2002
2001

In [50]:
names = ["Arif Hussain","Suhail Arif","Salman Arif","Sajid Arif","Irfan Arif"]
i = 0
while i< len(names):
    print(names[i])
    i += 1

Arif Hussain
Suhail Arif
Salman Arif
Sajid Arif
Irfan Arif

# for loop

In [53]:
names = ["Arif Hussain","Suhail Arif","Salman Arif","Sajid Arif","Irfan Arif"]
for a in names:
    print(a)

Arif Hussain
Suhail Arif
Salman Arif
Sajid Arif
Irfan Arif

In [55]:
colleges = ["National","Allama Iqbal","DJ Science","Urdu Colloeg","Superior Science"]
for c in colleges:
    print(c)

National
Allama Iqbal
DJ Science
Urdu Colloeg
Superior Science

In [56]:
colleges = ["National","Allama Iqbal","DJ Science","Urdu Colloeg","Superior Science"]
list(enumerate(colleges))

[(0, 'National'),
 (1, 'Allama Iqbal'),
 (2, 'DJ Science'),
 (3, 'Urdu Colloeg'),
 (4, 'Superior Science')]

In [66]:
colleges = ["National","Allama Iqbal","DJ Science","Urdu Colloeg","Superior Science"]
list(colleges)

['National', 'Allama Iqbal', 'DJ Science', 'Urdu Colloeg', 'Superior Science']

In [69]:
idx, name = (0,'Suhail')
print(idx, name)

0 Suhail

In [75]:
names = ["Arif","Suhail","Salman","Sajid","Irfan"]
for idx, names in enumerate(names):
    print(f"Student Roll no: {idx} and his/her Name: {names}")

Student Roll no: 0 and his/her Name: Arif
Student Roll no: 1 and his/her Name: Suhail
Student Roll no: 2 and his/her Name: Salman
Student Roll no: 3 and his/her Name: Sajid
Student Roll no: 4 and his/her Name: Irfan

In [76]:
i = 1
while i<100000:
    print(i)
    i+=1
    break

1

In [84]:
i = 1
while i < 1000000:
    if i % 5 == 0 and i % 7 == 0 and i % 20 == 0:
        print(i)
        break
    i += 1

140

In [86]:
i = 7
i % 5

2

In [88]:
i = 0 
while i < 11:
    print(i)
    if i == 7:
        break
    i += 1

0
1
2
3
4
5
6
7

In [91]:
for i in range(20):
    if i == 10:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [97]:
name = []
while True:
    nm = input("enter any Entry. type 'exit' to stop!")
    if nm == "exite":
        break
    name.append(nm)

enter any Entry. type 'exit' to stop!Ali
enter any Entry. type 'exit' to stop!Khalid
enter any Entry. type 'exit' to stop!mustaq
enter any Entry. type 'exit' to stop!naeem
enter any Entry. type 'exit' to stop!Khursheed
enter any Entry. type 'exit' to stop!Mukhtar
enter any Entry. type 'exit' to stop!exite

In [102]:
print(name)

['Ali', 'Khalid', 'mustaq', 'naeem', 'Khursheed', 'Mukhtar']

In [100]:
name

['Ali', 'Khalid', 'mustaq', 'naeem', 'Khursheed', 'Mukhtar']